@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

div, span, p, a, h1, h2 {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

$primary-color: #F15624;
$badge-color: red;
$text-color: #242424;
$icon-color: white;

.scroll-bar-horizontal {
  &::-webkit-scrollbar {
    height: 6px;
    transition: height 0.2s ease;
  }
  &:hover::-webkit-scrollbar {
    //height: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(30, 31, 34, 0.5);
  }
}

.text-500 {
  font-weight: 500;
  font-size: 19px;
}
